/* Add the following styles for the sliding animation */
.sliding-menu {
  position: fixed;
  top: 0;
  right: -100%; /* Initially off-screen */
  width: 100%;
  height: 100%;
  background-color: #fff; /* White background */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14vh;
  transition: right 0.3s ease-out; /* Animation transition */
}

.sliding-menu.open {
  right: 0; /* Slide in when open */
}

.sliding-menu a {
  color: black;
  font-size: 4vh;
  text-align: left;
  margin-left:3.5vh;
  margin-top:0;
  padding: 10px;
  text-decoration: none;
  width: 100%; /* Make the anchor tags take up the full width */
  box-sizing: border-box; /* Include padding and border in width calculation */
  font-weight: bold;
  letter-spacing: -1px;
}

/* Add styles for the close icon */
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.igicon {
  position: fixed;
  bottom: 15px;
  right: 10px;
}

/* Your existing styles */
.mobile-logo {
  width: 10rem;
  height: auto;
  margin-right: auto;
  padding: 20px;
}

.mobile-navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.mobile-nav-options-dark {
  display: flex;
  margin-left: auto;
  margin-right: 60px;
  font-size: 20px;
}

.mobile-nav-options-dark a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin-left: 30px;
  position: relative;
}

.mobile-nav-options-dark a::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgba(0, 0, 0, 0);
  transition: width 0.25s ease-in-out;
}

.mobile-nav-options-dark a:hover::before {
  width: 100%;
}

.hamburgericon {
  cursor: pointer;
  padding-right: 10px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 80px;
  left: 0;
  right: 0;
  background-color: #ffffff00;
  z-index: 100;
  border-radius: 4px;
}

.dropdown-menu.open {
  display: flex;
  flex-direction: column;
}

.sliding-logo{
  width: 10rem;
  height: auto;
  margin-right: auto;
  padding: 20px;
  top:0;
  left: 0px;
  position: absolute;
}

.dropdown-menu a {
  color: black;
  font-size: 15px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
}
